<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="currentDate"  class="java.util.Date" scope="prototype"/>
    <bean id="dateNotLazy" class="java.util.Date" lazy-init="false"/>
    <bean id="dateLazy" class="java.util.Date" lazy-init="true"/>

    <bean class="com.spring.initandsestroy.MethodInitBean" init-method="someInit" destroy-method="someDestroy"/>
    <bean class="com.spring.initandsestroy.SpringInterfaceInitBean"/>

    <context:annotation-config/>
    <bean class="com.spring.initandsestroy.AnnotationInitBean"/>

    <bean id="person-default-constructor" class="com.spring.initandsestroy.model.Person">
        <property name="id" value="1"/>
        <property name="name" value="Vasya"/>
        <property name="birth" ref="currentDate"/>
    </bean>

    <bean id="person-specific-constructor" class="com.spring.initandsestroy.model.Person">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="Leon"/>
        <constructor-arg name="birth" ref="currentDate"/>
    </bean>

    <bean id="person-factory-method" class="com.spring.initandsestroy.model.Person" factory-method="createInstance">

    </bean>

    <bean id="person-factory-method-with-parameters" class="com.spring.initandsestroy.model.Person" factory-method="createInstance">
        <constructor-arg name="id" value="4"/>
        <constructor-arg name="name" value="Alex"/>
        <constructor-arg name="birth" ref="currentDate"/>
    </bean>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/JavaCourse"/>
        <property name="username" value="postgres"/>
        <property name="password" value="admin"/>
    </bean>
    <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>